# Requirements to build the charm
charm-tools>=2.4.4
simplejson

# The latest released charm-tools does not include newer releases than Yoga.
git+https://github.com/juju/charm-helpers.git@stable/antelope
